body{
    background-color: rgb(236, 235, 235);
}

h1{
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 70px;
    text-align: right;
    margin-right: 100px;
}

label, input, option{
    font-family: 'Cabin', sans-serif;
}

.message{
    margin-top: 50px;
}

.message p{
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 15px;
    text-align: center;
    
}

.title{
    height: 200px;
    margin-top: 50px;
    margin-left: 100px;
}

.a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
}

.general{
    height: 450px;
    width: 1199px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 8px rgba(43, 42, 42, 0.3); /* Añadir sombreado */
    border-radius: 3px;
}

.container1{ /*CONTENEDOR DE LA IMG*/
    position: absolute;
    height: 450px;
    margin-left: 938px;
    overflow: hidden; /* Cortar el contenido que excede los límites del contenedor */
}

.container1 img{
    width: 260px;
    height: 490px;
}

.container2{
    height: 450px;
    width: 400px;
    margin-right: -80px;
    display: flex;
    border-radius: 2px;
}

.card{
    width: 550px;
    height: 450px;
    margin-left: -440px;
    border-radius: 3px;
    background-color:white;
    box-shadow: 5px 5px 8px rgba(43, 42, 42, 0.3); /* Añadir sombreado */
}

.card input{
    margin-left: 50px;
    width: 220px;
    height: 30px;
    margin-top: 30px;
    font-size: 18px;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1 px solid black;
    outline: none; /* Evita que se muestre el contorno al hacer clic */
}

.acciones{
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: -10px;
}

.acciones select{
    font-size: 18px;
    color: white;
    background-color: black;
    width: 130px;
    height: 30px;
    margin-left: -30px;
    border-top: none;
    border-left: none;
    outline: none;
    border-radius: 5px;
}

.acciones button{
    height: 30px;
    margin-left: 10px;
    border-radius: 10px;
    border-color: transparent;
    background-color: rgb(233, 233, 233);
    color: rgb(37, 37, 37);
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: 2px 2px 4px rgba(43, 42, 42, 0.5); /* Añadir sombreado */
}

.acciones button:hover{
    background-color: rgb(165, 164, 164);
}

.cleancontainer{
    width: 100px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
}

.cleancontainer button{
    height: 30px;
    background-color: transparent;
    border-color: transparent;
    color: black;
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.cleancontainer button:hover{
    color:rgb(121, 120, 120);
}